.fxml{
    -fx-background-color: #017143;
}

.green-pane{
    -fx-background-color: #017143;
    -fx-opacity: 0.8;
}

.button{
    -fx-background-color: white;
    -fx-text-fill: #017143;
    -fx-font-family: Calibri;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.text-field{
    -fx-prompt-text-fill: #ffffff;
    -fx-text-inner-color: #ffffff;
}